@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/src/fonts/Poppins-Regular.ttf);
}
.body{
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 50px;
    font-family: Poppins;
}

.title{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    width: 90vw;
}

.statement{
    display: flex;
    align-items: flex-start;
    width: 90vw;
}

.statement-body{
    width: 60vw;
    font-size: 2em;
}

.personel-container{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

.personel-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.action-button-container{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #DB4B6D;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 80px 2px;
    border: none;
    width: 150px;
    border-radius: 15px
}
.action-button{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width: 750px){
    .title{
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        width: 90vw;
    }
    
    .statement{
        display: flex;
        align-items: flex-start;
        width: 90vw;
    }
    
    .statement-body{
        width: 100vw;
        font-size: 2em;
    }
    
    .personel-container{
        display: flex;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
    }
    
    .personel-img{
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
}
