
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/src/fonts/Poppins-Regular.ttf);
}
.Navigation-Bar{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #292828;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: Poppins;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 35px;
    width: 40px;
    padding-left: 50px;
}

.Navigation-Bar-Link-Group{
    padding-right: 50px;
}

.Navigation-Bar-Link{
    text-decoration: none;
    color: white;
    padding-left: 50px;
    font-weight: 300;
}

@media screen and (max-width: 750px){
    .logo{
        color: white;
        text-decoration: none;
        font-size: 35px;
        width: 40px;
        padding-left: 25px;
    }
    .Navigation-Bar-Link-Group{
        padding-right: 25px;
    }
    .Navigation-Bar-Link{
        font-size: 15px;
        text-decoration: none;
        color: white;
        padding-left: 20px;
        font-weight: 300;
    }
}